<section class="container">
    <h3 class="section-title text-center">Certificaciones y Logros</h3>
    <div class="text-center">
        <p> 
            Puedes ver todos mis certificados en mi perfil de <a href="https://linkedin.com/in/rubén-aldonza-cejudo-414bb7142" class="text-highlight" target="_blank">LinkedIn</a>, pero aquí muestro los más importantes.
        </p>
        <p> 
            También tengo logros obtenidos en <a href="https://learn.microsoft.com/en-us/users/rubnaldonza-1457/" class="text-highlight" target="_blank">Microsoft</a> mediante un challenge de skills.
        </p>
    </div>

    <!-- Filtros de Tecnología -->
    <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-outline-primary me-2" (click)="filterCertifications('all')">Todos</button>
        <button *ngFor="let tech of technologies" class="btn btn-outline-primary me-2" (click)="filterCertifications(tech)">
            {{ tech }}
        </button>
    </div>

    <!-- Lista de Certificados Filtrados -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div *ngFor="let certification of filteredCertifications | slice:0:certificationsToShow" class="col-md-6 col-lg-4 col-xl-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ certification.title }}</h5>
                    <ul>
                        <li>
                            Empresa: <span class="text-highlight">{{ certification.organization }}</span>
                        </li>
                        <li *ngIf="certification.date">
                            Fecha: <span class="text-highlight">{{ certification.date }}</span>
                        </li>
                        <li>
                            Descripción: <span class="text-highlight">{{ certification.description }}</span>
                        </li>
                    </ul>
                    <!-- Enlace opcional al certificado -->
                    <a *ngIf="certification.link" [href]="certification.link" target="_blank" class="btn btn-outline-primary mt-auto">
                        Ver Certificado
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Botones de "Mostrar Más" y "Mostrar Menos" -->
    <div class="text-center mt-4">
        <button *ngIf="certificationsToShow < filteredCertifications.length" (click)="showMoreCertifications()" class="btn btn-outline-primary">
            Mostrar más certificados
        </button>
        <button *ngIf="certificationsToShow > 4" (click)="showLessCertifications()" class="btn btn-outline-secondary">
            Mostrar menos certificados
        </button>
    </div>
</section>
