<section class="container">
    <h3 class="section-title text-center">Recursos Recomendados</h3>
    <p class="text-center">
        Aquí comparto algunos recursos de libros, cursos y herramientas útiles.
    </p>

    <!-- Botones de filtrado -->
    <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-filtrado me-2" (click)="filterResources('all')">Todos</button>
        <button *ngFor="let lang of languages" class="btn btn-filtrado me-2"  (click)="filterResources(lang)">
            {{ lang }}
        </button>
    </div>

    <!-- Lista de Recursos Filtrados -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-6 col-lg-4 col-xl-4 mb-4" *ngFor="let resource of filteredResources | slice:0:resourcesToShow">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ resource.title }}</h5>
                    <p class="card-text">{{ resource.description }}</p>
                    <span class="badge fondo-tipos">{{ resource.type }}</span>
                    <div class="mt-3">
                        <a [href]="resource.link" target="_blank" class="btn btn-filtrado">Ver Recurso</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Botones de "Mostrar Más" y "Mostrar Menos" -->
    <div class="text-center mt-4">
        <button *ngIf="resourcesToShow < filteredResources.length" (click)="showMoreResources()" class="btn btn-filtrado">
            Mostrar más recursos
        </button>
        <button *ngIf="resourcesToShow > 4" (click)="showLessResources()" class="btn btn-filtrado">
            Mostrar menos recursos
        </button>
    </div>
</section>