<section class="container">
    <h3 class="text-center mb-4">Explora algunos de mis proyectos en vivo</h3>

    <!-- Filtros -->
    <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-filtrado me-2" (click)="filterProjects('all')">Todos</button>
        <button *ngFor="let tech of technologies" class="btn btn-filtrado me-2" (click)="filterProjects(tech)">
            {{ tech }}
        </button>
    </div>

    <div class="d-flex justify-content-center mb-4">
        <button *ngFor="let tipos of tipos" class="btn btn-filtrado me-2" (click)="filterProjectsTipo(tipos)">
            {{ tipos }}
        </button>
    </div>

    <!-- Lista de Proyectos Filtrados -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-12 col-md-4" *ngFor="let project of filteredProjects | slice:0:projectsToShow">
            <div class="card h-100">
                <img *ngIf="project.image" [src]="project.image" class="card-img-top" [alt]="project.title">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <div class="techList mb-2">
                        <span *ngFor="let tipos of project.tipo" class="badge fondo-tipos me-1">
                            {{ tipos }}
                        </span>
                    </div>
                    <div class="techList mb-2">
                        <span *ngFor="let tech of project.technologies" class="badge fondo-tipos me-1">
                            {{ tech }}
                        </span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a *ngIf="project.link" [href]="project.link" target="_blank" class="btn btn-projects">
                            <i class="bi bi-link-45deg"></i> Proyecto
                        </a>
                        <a [href]="project.code" target="_blank" class="btn btn-codigo">
                            <i class="bi bi-code-slash"></i> Código
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Botones de "Mostrar Más" y "Mostrar Menos" -->
    <div class="text-center mt-4">
        <button *ngIf="projectsToShow < filteredProjects.length" (click)="showMoreProjects()" class="btn btn-filtrado">
            Mostrar más proyectos
        </button>
        <button *ngIf="projectsToShow > 4" (click)="showLessProjects()" class="btn btn-filtrado">
            Mostrar menos proyectos
        </button>
    </div>
</section>