<section id="sobre-mi" class="container my-5">
    <h3 class="text-center mb-4">Sobre mí</h3>

    <p>
        En 2024, terminé el Grado Superior en Desarrollo de Aplicaciones Web, en el IES Hermanos Machado. Durante mis prácticas en FISEVI, dentro del Hospital Virgen del Rocío pero más concretamente en el Instituto de Biomedicina de Sevilla (IBIS), adquirí una valiosa experiencia como Desarrollador de Aplicaciones.
    </p>

    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-4 card-with-title">
                <div class="card-body">
                    <b>Frontend</b>
                    <div class="logos d-flex flex-wrap justify-content-center gap-3 mt-3">
                        <img src="assets/img/svg/html.svg" alt="HTML logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/css.svg" alt="CSS logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/javascript.svg" alt="Javascript logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/bootstrap.svg" alt="Bootstrap logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/react.svg" alt="React logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/angular.svg" alt="Angular logo" class="img-fluid" style="max-height: 50px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <b>Backend</b>
                    <div class="logos d-flex flex-wrap justify-content-center gap-3 mt-3">
                        <img src="assets/img/svg/python.svg" alt="Python logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/django.svg" alt="Django logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/java.svg" alt="Java logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/mysql.svg" alt="MySQL logo" class="img-fluid" style="max-height: 50px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <b>Devops & Tools</b>
                    <div class="logos d-flex flex-wrap justify-content-center gap-3 mt-3">
                        <img src="assets/img/svg/aws.svg" alt="AWS logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/svg/github.svg" alt="GitHub logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/png/docker.png" alt="Docker logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/png/visualstudiocode.png" alt="Visual Studio Code logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/png/eclipse.png" alt="Eclipse IDE logo" class="img-fluid" style="max-height: 50px;">
                        <img src="assets/img/png/git.png" alt="Git logo" class="img-fluid" style="max-height: 50px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
