<section id="sobre-mi" class="container my-5">
    <header class="intro">
        <div class="row align-items-center text-center text-md-start">
            <div class="col-6 col-md-4 col-lg-4 mb-auto mb-md-auto mb-lg-auto">
                <img src="assets/img/jpeg/fotoPerfil.jpeg" alt="Foto de perfil de Rubén Aldonza Cejudo" class="profile-pic img-fluid rounded-circle shadow" />
            </div>
            <div class="col-6 col-md-8 col-lg-8">
                <h1 class="fw-bold">¡Hola! Soy Rubén Aldonza Cejudo</h1>
                <p class="mt-1 text-gray">
                    Desarrollador web <span class="text-highlight">Fullstack</span> con React, Angular y Django.
                </p>
            </div>
        </div>
    </header>

    <div class="container text-center mt-4">
        <p>
            Soy desarrollador web, centrado en el Frontend, ¡pero hago de todo! Puedes encontrarme en <a href="mailto:ruben.machado1920@gmail.com" class="text-highlight">{{ email }}</a> y en <a href="https://linkedin.com/in/rubén-aldonza-cejudo-414bb7142" class="text-highlight">LinkedIn</a>.
        </p>
        <a href="assets/pdf/RubénAldonzaCejudo_CV.pdf" download="Mi_CV" class="btn btn-download-cv mt-3 shadow-sm">
            Descargar CV
        </a>
    </div>

    <p class="mt-4 text-center text-md-start">
        En 2024, terminé el Grado Superior en Desarrollo de Aplicaciones Web en el IES Hermanos Machado. Durante mis prácticas en FISEVI, dentro del Hospital Virgen del Rocío, adquirí valiosa experiencia como Desarrollador de Aplicaciones.
    </p>

    <div class="row justify-content-center">
        <!-- Frontend Card -->
        <div class="col-12 col-md-6 mb-4">
            <div class="card card-with-title shadow-sm">
                <div class="card-body text-center">
                    <b>Frontend</b>
                    <div class="logos d-flex flex-wrap justify-content-center gap-3 mt-3">
                        <img src="assets/img/svg/html.svg" alt="HTML logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/css.svg" alt="CSS logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/javascript.svg" alt="Javascript logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/bootstrap.svg" alt="Bootstrap logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/react.svg" alt="React logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/angular.svg" alt="Angular logo" class="img-fluid logo-icon" />
                        <img src="assets/img/png/typescript.png" alt="Typescript logo" class="img-fluid logo-icon" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Backend Card -->
        <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <b>Backend</b>
                    <div class="logos d-flex flex-wrap justify-content-center gap-3 mt-3">
                        <img src="assets/img/svg/python.svg" alt="Python logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/django.svg" alt="Django logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/java.svg" alt="Java logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/mysql.svg" alt="MySQL logo" class="img-fluid logo-icon" />
                        <img src="assets/img/png/php.png" alt="PHP logo" class="img-fluid logo-icon" />
                        <img src="assets/img/png/Symfony.png" alt="Symfony logo" class="img-fluid logo-icon" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- DevOps Card -->
        <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <b>DevOps</b>
                    <div class="logos d-flex flex-wrap justify-content-center gap-3 mt-3">
                        <img src="assets/img/svg/aws.svg" alt="AWS logo" class="img-fluid logo-icon" />
                        <img src="assets/img/svg/github.svg" alt="GitHub logo" class="img-fluid logo-icon" />
                        <img src="assets/img/png/docker.png" alt="Docker logo" class="img-fluid logo-icon" />
                        <img src="assets/img/png/git.png" alt="Git logo" class="img-fluid logo-icon" />
                        <img src="assets/img/png/vercel.png" alt="Vercel logo" class="img-fluid logo-icon" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Tools Card -->
        <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <b>Tools</b>
                        <div class="logos d-flex flex-wrap justify-content-center gap-3 mt-3">
                            <img src="assets/img/png/visualstudiocode.png" alt="Visual Studio Code logo" class="img-fluid logo-icon" />
                            <img src="assets/img/png/eclipse.png" alt="Eclipse IDE logo" class="img-fluid logo-icon" />
                            <img src="assets/img/png/firebase.png" alt="Firebase logo" class="img-fluid logo-icon" />
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>