@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'); /* Bootstrap icons CDN */

:root {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    --shadow-color: rgba(0, 0, 0, 0.1); /* Sombra ligera */
    --fondo-navbar: #291C0E; /* Fondo de la barra de navegación */
    --fondo-body: #E1D4C2; /* Fondo del cuerpo */
    --color-texto: #6E473B; /* Color del texto */
    --color-texto-claro: #E1D4C2; /* Color del texto claro */
    --color-texto-links: #8C6E63; /* Color del texto de los enlaces */
    --color-texto-links-oscuro: #3E2522; /* Color del texto de los enlaces */
    --fondo-boton: #6E473B; /* Fondo del botón */
    --fondo-boton-claro: #A78D78; /* Fondo del botón claro */
    --color-boton: #E1D4C2; /* Color del botón */
    --color-boton-oscuro: #6E473B; /* Color del botón oscuro */
    --color-boton-codigo: #FFF; /* Color del botón */
    --fondo-boton-projects-claro: #FFE0B2; /* Fondo del botón */
    --fondo-tipo: #3E2522; /* Fondo del tipo */
}

html {
    scroll-behavior: smooth !important;
}  

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--fondo-body);
}

body::-webkit-scrollbar-thumb {
    background: var(--fondo-boton);
    border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--fondo-boton);
    }
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    text-wrap: pretty;
}

h1, h2, h3, h4 {
    margin: 0;
    text-wrap: balance;
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--fondo-body) !important;
    color: #2C3E50;
    transition: background-color 0.3s, color 0.3s;
}

#optionsMenu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: end;
    padding: 0.5rem;
    border-radius: 500px;
    position: fixed;
    top: 1rem;
    z-index: 9999;
    transition: top 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.bg-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px var(--shadow-color);
    box-shadow: 2px 2px 8px var(--shadow-color);
}

#optionsMenu i {
    font-size: 1.2rem;
}

#optionsMenu a, #optionsMenu i {
    text-decoration: none;
    opacity: 0.8;
    color: inherit;
}

#optionsMenu a:hover, #optionsMenu i:hover {
    opacity: 1;
    cursor: pointer;
}

.text-highlight {
    color: var(--color-texto);
}

.mt-1 {
    margin-top: 0.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}

.sectionIntro {
    margin-top: 1rem;
}

.sectionIntro, .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.intro img {
    height: 5rem;
    width: auto;
    border-radius: 34% 66% 64% 36% / 37% 39% 61% 63%;
    border: 5px solid var(--fondo-navbar); /* Borde de color Cian */
    transition: transform 0.3s ease-in-out;
}

/* Zoom más grande en hover */
.intro img:hover {
    transform: scale(2); /* Aumenta el zoom */
}

.intro div {
    text-align: center;
}

.projectsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.project-links a:hover {
    border: 1px solid #00C6D7;
    i {
        color: #00C6D7;
    }
}

.logos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center !important;
    align-self: center;
}

.logos img, .logos svg {
    height: 3.5rem;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logos img:hover, .logos svg:hover {
    transform: scale(1.5);
}

footer {
    width: calc(100% - 2rem);
    padding: 2rem 0;
    color: var(--color-texto);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footerLinks {
    display: flex;
    gap: 1rem;
    a {
        text-decoration: none;
        color: var(--color-texto-links);
        transition: color 0.3s;
    }
    a:hover {
        color: var(--color-texto-links-oscuro);
    }
}

/* Botón personalizado */
.btn-filtrado, .btn-projects, .btn-codigo{
    background-color: var(--fondo-boton); /* Color principal */
    color: var(--color-boton); /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 50px; /* Bordes redondeados */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s, transform 0.3s; /* Efectos de transición */
}

.btn-filtrado:hover {
    color: var(--color-boton-oscuro);
    background-color: var(--fondo-boton-claro); /* Color de fondo en hover */
    transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}

.btn-projects:hover, .btn-codigo:hover {
    color: var(--color-boton-codigo);
    background-color: var(--fondo-boton-projects-claro); /* Color de fondo en hover */
    transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}

.btn-filtrado:active{
    background-color: var(--fondo-boton-claro); /* Color de fondo en clic */
    transform: scale(1); /* Efecto de escala al hacer clic */
}

.btn-projects:active, .btn-codigo:active {
    background-color: var(--fondo-boton-projects-claro); /* Color de fondo en hover */
    transform: scale(1); /* Efecto de escala al pasar el cursor */
}

.btn-download-cv {
    background-color: var(--fondo-boton); /* Color principal */
    color: var(--color-boton); /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 50px; /* Bordes redondeados */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s, transform 0.3s; /* Efectos de transición */
}

.btn-download-cv:hover {
    color: var(--color-boton-oscuro);
    background-color: var(--fondo-boton-claro); /* Color de fondo en hover */
    transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}

.btn-download-cv:active {
    background-color: var(--fondo-boton-claro); /* Color de fondo en clic */
    transform: scale(1); /* Efecto de escala al hacer clic */
}

.card {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco translúcido */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde translúcido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    backdrop-filter: blur(5px); /* Desenfoque sutil */
}

.custom-navbar {
    background-color: var(--fondo-navbar);
    -webkit-backdrop-filter: blur(10px); /* Fondo desenfocado */
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.custom-navbar .nav-link, .navbar-brand {
    color: var(--color-texto) !important; /* Color del texto */
    transition: color 0.3s;
}

.custom-navbar:hover .nav-link:hover, .navbar-brand:hover {
    color: var(--color-texto-claro) !important; /* Color de resaltado al pasar el cursor */
}

/* Zoom en las cartas y sombra al hacer hover */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la carta */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Animación de entrada con desplazamiento hacia arriba */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: fadeInUp 0.6s ease both;
}

.fondo-tipos{
    background-color: var(--fondo-tipo) !important;
    color: var(--color-texto-claro);
}

@media screen and (min-width: 768px) {
    body {
        width:80%
    }

    .sectionIntro {
        align-items: start
    }

    .intro {
        flex-direction: row
    }

    .intro div {
        text-align: start
    }

    .projectsList {
        gap: 3rem
    }

    .project {
        flex-direction: row;
        justify-content: space-between
    }

    .project .img-container {
        width: 50%;
        aspect-ratio: initial
    }

    .project .project-details {
        width: 100%
    }

    .logos {
        justify-content: space-between
    }
}