<!-- Menú de navegación con Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Mi Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#aboutSection">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projectsSection">Proyectos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#contactoSection">Contacto</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<section class="aboutSection py-5" id="aboutSection">
  <div class="container">
    <app-skills></app-skills>
  </div>
</section>

<section class="projectsSection py-5" id="projectsSection">
  <div class="container">
    <app-projects></app-projects>
  </div>
</section>
  
<app-footer></app-footer>