<section class="sectionIntro">
  <header class="intro">
    <img src="assets/img/jpeg/fotoPerfil.jpeg" alt="Foto de perfil de Rubén Aldonza Cejudo" />
    <div>
      <h1>¡Hola! Soy Rubén Aldonza Cejudo</h1>
      <p class="mt-1 text-gray">
        Desarrollador web <span class="text-highlight">Fullstack</span> con React, Angular y Django
      </p>
    </div>
  </header>
  
  <p> 
    Soy desarrollador web, centrado en el Frontend, ¡pero hago de todo! Puedes encontrarme en <a href="mailto:ruben.machado1920@gmail.com" class="text-highlight">{{ email }}</a> y en <a href="https://linkedin.com/in/rubén-aldonza-cejudo-414bb7142" class="text-highlight">LinkedIn</a>.
  </p>

  <!-- Otro contenido del componente -->
  <div class="container text-center mt-4">
    <a href="assets/pdf/RubénAldonzaCejudo_CV.pdf" download="Mi_CV" class="btn-download-cv">
      Descargar CV
    </a>
  </div>

</section>

<section class="aboutSection">
  <app-skills></app-skills>
</section>

<section class="projectsSection">
  <app-projects></app-projects>
</section>
  
<app-footer></app-footer>