<aside id="optionsMenu" class="text-gray">
    <i id="lightModeToggler" class="bi bi-brightness-high-fill"></i>
  </aside>
  
  <section class="sectionIntro">
    <header class="intro">
      <img src="./assets/profilePic.webp" alt="Foto de perfil de Rubén Aldonza Cejudo" />
      <div>
        <h1>¡Hola! Soy Rubén Aldonza Cejudo</h1>
        <p class="mt-1 text-gray">
          Desarrollador web
          <span class="text-highlight">Fullstack</span>
          con React, Angular y Django
        </p>
      </div>
    </header>
  
    <p> Soy desarrollador web, centrado en el Frontend, ¡pero hago de todo! Puedes encontrarme en <a href="mailto:ruben.machado1920@gmail.com" class="text-highlight">{{ email }}</a> y en <a href="https://linkedin.com/in/rubén-aldonza-cejudo-414bb7142" class="text-highlight">LinkedIn</a>.
    </p>
  </section>
  
  <app-projects></app-projects>